.profile-pic {
    width: 150px;       /* Kenglik 150 piksel */
    height: 150px;      /* Balandlik 150 piksel */
    object-fit: cover;  /* Rasm buzilmasdan, berilgan o'lchamga moslanadi */
    border-radius: 50%;
}

.small-profile-pic {
    width: 100px;       /* Kenglik 150 piksel */
    height: 100px;      /* Balandlik 150 piksel */
    border-radius: 50%;
}

.cover-pic{
    width: 220px ;
    height: 300px ;
}




.star-rating input { display: none !important; } /* Faqat radio-inputlar yashirinishi kerak */