.profile-pic {
    width: 150px;       /* Kenglik 150 piksel */
    height: 150px;      /* Balandlik 150 piksel */
    object-fit: cover;  /* Rasm buzilmasdan, berilgan o'lchamga moslanadi */
    border-radius: 50%;
}

.small-profile-pic {
    width: 100px;       /* Kenglik 150 piksel */
    height: 100px;      /* Balandlik 150 piksel */
    border-radius: 50%;
}

.cover-pic{
    width: 220px ;
    height: 300px ;
}




.star-rating input { display: none !important; } /* Faqat radio-inputlar yashirinishi kerak */



.star-rating input { display: none !important; }
    .star-rating {
        display: flex !important;
        flex-direction: row-reverse !important;
        justify-content: flex-end !important;
        gap: 10px;
        margin-bottom: 15px;
    }
    .star-rating label { font-size: 30px !important; color: #ddd; cursor: pointer; }
    .star-rating input:checked ~ label,
    .star-rating label:hover,
    .star-rating label:hover ~ label { color: #f39c12 !important; }



.posts-content{
    margin-top:20px;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}
.default-style .ui-bordered {
    border: 1px solid rgba(24,28,33,0.06);
}
.ui-bg-cover {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
}
.ui-rect {
    padding-top: 50% !important;
}
.ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
    position: relative !important;
    display: block !important;
    padding-top: 100% !important;
    width: 100% !important;
}
.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.bg-dark {
    background-color: rgba(24,28,33,0.9) !important;
}
.card-footer, .card hr {
    border-color: rgba(24,28,33,0.06);
}
.ui-rect-content {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}
.default-style .ui-bordered {
    border: 1px solid rgba(24,28,33,0.06);
}
.img2{
    width:300px;
    margin: 0 auto;
    display: block;
}
